$primary-color: #ff2c0041;
$secondary-color: #5e0800ef;
$tertiary-color: #ff0000;
$neutral-color: #00005506;
$neutral-color-dark: #00104010;
$text-theme: $tertiary-color;
$text-dark: black;
$text-light: white;

$border-radius: 5px;

$principal-font: "Arial", sans-serif;
$secondary-font: "Courier New", monospace;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

