$primary-color: #006FFF25;
$secondary-color: #001F63F1;
$tertiary-color: #004CFF;
$neutral-color: #00005506;
$neutral-color-dark: #00104010;
$text-theme: $tertiary-color;
$text-dark: black;
$text-light: white;

$border-radius: 12px;

$principal-font: "Georgia", serif;
$secondary-font: "Gill Sans", sans-serif;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
